<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Directives</title>
    <script src="../lib/angular/angular.js"></script>
    <link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <script>
        angular.module("exampleApp", [])
            .controller("defaultCtrl", function ($scope) {
                $scope.todos = [
                    {action: "Get groceries", complete: false},
                    {action: "Call plumber", complete: false},
                    {action: "Buy running shoes", complete: true},
                    {action: "Buy flowers", complete: false},
                    {action: "Call family", complete: false}];
                $scope.showValue = function () {
                    console.log($scope.text);
                };
                $scope.onlythis = function (data) {
                    if(data.length>5)
                    {
                        return true;
                    }
                    return false;
                }
            });
    </script>
    <style>
        hr {
            border-color: red;
        }

    </style>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>
    Data items will go here...
    There are <span class="ng-bind: todos.length"></span> items
    <div>First {{todos[0].action}} Second {{todos[1].action}}</div>

    <div class="form-group">
        <input type="text" ng-model="text" class="form-control">
        <a ng-click="showValue()" class="btn">Show Value</a>
        <div>{{text}}</div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <td>Action</td>
            <td>Complete</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in todos">
            <td>{{item.action}}</td>
            <td>{{item.complete}}</td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th>Action</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in todos">
            <td ng-repeat="(key, value) in item">
                {{key}}={{value}}
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <br><br><br>
    <table class="table">
        <tbody>
        <tr ng-repeat-start="item in todos">
            <td>This is item {{$index}}</td>
        </tr>
        <tr>
            <td>The action is: {{item.action}}</td>
        </tr>
        <tr ng-repeat-end>
            <td>Item {{$index}} is {{$item.complete? '' : "not "}} complete</td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <ng-include src="'table.html'"></ng-include>
</div>
</body>
</html>